

<div  id="node-17" class="node node-book clear-block clear-block">
  
    
  
      <div class='column-main'><div class='column-wrapper'>
  
  
      <div class='node-content clear-block prose'>
      <div class='node-body'><p>Debut Image consists of:</p>
<ul>
<li>Image content type with image field.</li>
<li>Basic set of Imagecache presets, modeled on those that ship with Drupal 7 core.</li>
<li>Image view with page listing, recent images block, and RSS feed.</li>
<li>Integration with <a target="_blank" href="http://drupal.org/project/pathauto">Pathauto</a>.</li>
<li>Menu item for images landing page.</li>
<li><a target="_blank" href="http://drupal.org/project/context">Context</a> handling of breadcrumbs, active menu, and block display.</li>
<li>User permissions.</li>
</ul>
<p>Dependencies</p>
<ul>
<li><a target="_blank" href="http://drupal.org/project/features">Features</a></li>
<li><a target="_blank" href="http://drupal.org/project/context">Context</a></li>
<li><a target="_blank" href="http://drupal.org/project/imagecache">Imagecache</a></li>
<li><a target="_blank" href="http://drupal.org/project/imagefield">Imagefield</a></li>
</ul>
<p>Recommended</p>
<ul>
<li><a target="_blank" href="http://drupal.org/project/pathauto">Pathauto</a></li>
</ul>
</div>    </div>
  
      </div></div>
  </div>


