

<div  id="node-19" class="node node-book clear-block clear-block">
  
    
  
      <div class='column-main'><div class='column-wrapper'>
  
  
      <div class='node-content clear-block prose'>
      <div class='node-body'><p>The Image feature comes with a <a target="_blank" href="http://drupal.org/project/context">Context</a> that customizes display settings when Image content is being viewed. The context:</p>
<ul>
<li>Displays a contextual sidebar block.</li>
<li>Sets breadcrumbs to point to the Image landing page.</li>
<li>Sets the active menu item.</li>
</ul>
<p>Use the context administration page to customize <a href="&amp;base_url&amp;admin/build/context/list/image-content-type/edit">this</a> or other contexts.</p>
</div>    </div>
  
      </div></div>
  </div>


