

<div  id="node-16" class="node node-book clear-block clear-block">
  
    
  
      <div class='column-main'><div class='column-wrapper'>
  
  
      <div class='node-content clear-block prose'>
      <div class='node-body'><p>Debut Image is part of <a target="_blank" href="http://drupal.org/project/debut">Debut</a>, a set of baseline Drupal <a target="_blank" href="http://drupal.org/project/features">Features</a> designed to work independently yet integrate seamlessly together.</p>
<p>Debut Image provides users with the ability to upload and display images.  It includes a basic set of Imagecache presets which control display size.  The Image view includes page listing, recent images block, and RSS feed.</p>
</div>    </div>
  
      </div></div>
  </div>


