

<div  id="node-18" class="node node-book clear-block clear-block">
  
    
  
      <div class='column-main'><div class='column-wrapper'>
  
  
      <div class='node-content clear-block prose'>
      <div class='node-body'><ul>
<li>Begin by browsing for the image you wish to upload, keeping in mind the following guidelines:
<ul>
<li>Allowed image types are: png, gif, jpg and jpeg.</li>
<li>The maximum file size for uploading is 2 MB.</li>
<li>The recommended image size is 640 by 480 pixels.</li>
<li>The maximum image size is 3000 by 3000 pixels.</li>
<li>The minimum image size is 300 by 300 pixels.</li>
</ul>
</li><li>If the image you wish to upload does not meet the guidelines above, resize it in your photo editing software before continuing.</li>
<li>Hit the "Upload" button to upload the photo selected.  The image preview will now appear.</li>
<li>In the "Alternate Text" box type in the description of the photo to be used by screen readers, search engines, or when the image cannot be loaded. This is optional, but important in terms of site accessibility.</li>
<li>The next title box allows you to give your image a title that will be used when the mouse hovers over the image.</li>
<li>Next add in a photo credit if desired.</li>
<li>For most image posts, you will not need to adjust other settings, and can now preview and save (or just save.)</li>
<li>If you would like to change any settings, you can do so via menu settings, authoring information, etc., prior to saving.</li>
</ul>
</div>    </div>
  
      </div></div>
  </div>


